/* Navbar */
.container-fluid span{
  font-family: 'Poiret One', cursive;
  font-size: 2em;

}
/* Hero Image Bs As*/
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/ba1.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed
}

.btn-transparent:hover {
    background-color: rgba(255, 255, 255, 0.356) !important;
  }

.tittle h6 {
    font-size: .75rem;
  }


/* Formulario Inscripción-Text Area */

.text-textArea {
  color: rgba(31, 30, 29, 0.7);
}

/* Footer */

.footer-style {
  background-image: linear-gradient(to right, #021520, #656868);
  
}

.footer-style .nav-item {
  margin-top: .5rem;
}

.footer-style .nav-link {
  color: #e8ecec !important;
}

.footer-style .nav-link:hover {
  color: #7c7c7c !important;
}

